<div>
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Gerencesy</li>
            <li class="breadcrumb-item active">Cartões</li>
            <li class="col-md-10 icones-acao">
                <a ng-click="vm.excluirCartao()">
                    <img width="28" height="28" src="./src/imagens/lixeira.png">
                </a>
            </li>
        </ol>
    </div>
    <div class="col-md-12 cartoes">
        <div class="panel-heading row">
            <ul dnd-list="cartoes.listaAgrup" ng-repeat="cartoes in vm.cartoes.lista track by $index">
                <li>
                    <strong>{{cartoes.descricao}}</strong>
                </li>
                <li ng-repeat="item in cartoes.listaAgrup" dnd-draggable="item" dnd-moved="cartoes.listaAgrup.splice($index, 1)" dnd-effect-allowed="move"
                    dnd-selected="vm.cartoes.selecionado = item" ng-class="{'selected': vm.cartoes.selecionado === item}">
                    <i>{{item.nome}}</i>
                    <small> - {{item.tempo}} h</small>
                </li>
                <li class="button btn" ng-click="vm.guardarStatusLista(cartoes.status)" data-toggle="modal" data-target="#cartaoModal">
                    <strong>
                        <a>Adicionar +</a>
                    </strong>
                </li>
            </ul>
        </div>
    </div>
    <!-- Add Cartao -->
    <div class="modal fade" id="cartaoModal" tabindex="-1" role="dialog" aria-labelledby="cartaoModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cartaoModal">Adicionar cartão</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea placeholder="Descrição" maxlength="255" class="col-md-12" ng-model="vm.descricao"></textarea>
                    <input placeholder="Tempo (horas)" class="col-md-12" type="number" ng-model="vm.tempo">
                </div>
                <div class="modal-footer">
                    <!-- <button class="btn cor-roxa" ng-click="vm.adicionarCartao()" data-dismiss="modal" ng-disabled="!vm.cartaoAdd">Adicionar</button> -->
                    <button class="btn cor-roxa" data-dismiss="modal" ng-click="vm.adicionarCartao()">Adicionar</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>