<div>
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active">Cartões</li>
        </ol>
    </div>
    <div class="col-md-12 cartoes">
        <div class="panel-heading row">
            <ul dnd-list="cartoes.listaAgrup" ng-repeat="cartoes in vm.cartoes.lista track by $index">
                <li>
                    {{cartoes.descricao}}
                </li>
                <li ng-repeat="item in cartoes.listaAgrup" dnd-draggable="item" dnd-moved="cartoes.listaAgrup.splice($index, 1)" dnd-effect-allowed="move"
                    dnd-selected="vm.cartoes.selecionado = item" ng-class="{'selected': vm.cartoes.selecionado === item}">
                    {{item.nome}}
                </li>
                <li>Adicionar +</li>
            </ul>
        </div>
    </div>
</div>