// Styling for custom cards
// Custom class for the background icon in card blocks
.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;

  font-size: 5rem;
  @include rotate;
}

// Override breakpoints for card columns to work well with sidebar
.card-columns {
  @media (min-width: 576px) {
    column-count: 1;
  }
  @media (min-width: 768px) {
    column-count: 2;
  }
  @media (min-width: 1200px) {
    column-count: 2;
  }
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
 .cartoes ul[dnd-list] {
  min-height: 42px;
  padding-left: 0px;
}

/**
* The dndDraggingSource class will be applied to
* the source element of a drag operation. It makes
* sense to hide it to give the user the feeling
* that he's actually moving it.
*/
.cartoes ul[dnd-list] .dndDraggingSource {
  display: none;
}

/**
* An element with .dndPlaceholder class will be
* added to the dnd-list while the user is dragging
* over it.
*/
.cartoes ul[dnd-list] .dndPlaceholder {
  background-color: #fff;
  display: block;
  min-height: 42px;
}

.cartoes ul[dnd-list] li {
  background-color: #ddd;
  border: 1px solid #fff;
  border-radius: 4px;
  display: block;
  padding: 10px 15px;
  margin-left: 15px;
  width: 17.4em;
  margin-bottom: -1px;
}

/**
* Show selected elements in green
*/
.cartoes ul[dnd-list] li.selected {
  background-color: #8d71a0;
  color: #fff;
}

.esquerdo-inferior{ 
  position: relative;
  padding-top: 330px;
  float:left;
}
