// Global styling for this template

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

body.sticky-footer {
  margin-bottom: $sticky-footer-height;
  .content-wrapper {
    min-height: calc(100vh - #{$sticky-footer-height} - #{$navbar-base-height});
  }
}

body.fixed-nav {
  padding-top: $navbar-base-height;
}

.content-wrapper {
  min-height: calc(100vh - #{$sticky-footer-height});
  padding-top: 1rem;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;

  display: none;

  width: 50px;
  height: 50px;

  text-align: center;

  color: white;
  background: fade-out($gray-800, .5);

  line-height: 45px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}

.cor-roxa {
  background-color: rgb(120, 99, 143);
  color: #fff;
}

/*
 * Component: Table
 * ----------------
 */
 .table > thead > tr > th,
 .table > tbody > tr > th,
 .table > tfoot > tr > th,
 .table > thead > tr > td,
 .table > tbody > tr > td,
 .table > tfoot > tr > td {
   border-top: 1px solid #f4f4f4;
 }
 .table > thead > tr > th {
   border-bottom: 2px solid #f4f4f4;
 }
 .table tr td .progress {
   margin-top: 5px;
 }
 .table-bordered {
   border: 1px solid #f4f4f4;
 }
 .table-bordered > thead > tr > th,
 .table-bordered > tbody > tr > th,
 .table-bordered > tfoot > tr > th,
 .table-bordered > thead > tr > td,
 .table-bordered > tbody > tr > td,
 .table-bordered > tfoot > tr > td {
   border: 1px solid #f4f4f4;
 }
 .table-bordered > thead > tr > th,
 .table-bordered > thead > tr > td {
   border-bottom-width: 2px;
 }
 .table.no-border,
 .table.no-border td,
 .table.no-border th {
   border: 0;
 }
 /* .text-center in tables */
 table.text-center,
 table.text-center td,
 table.text-center th {
   text-align: center;
 }
 .table.align th {
   text-align: left;
 }
 .table.align td {
   text-align: right;
 }
 /*
  * Component: Label
  * ----------------
  */
 .label-default {
   background-color: #d2d6de;
   color: #444;
 }

 /*
 * Component: Box
 * --------------
 */

 .padding-box {
   padding-left: 1.5%;
   padding-right: 1.5%;
 }
