<div>
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Gerencesy</li>
            <li class="breadcrumb-item active">Boards</li>
        </ol>
    </div>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body padding-box">
                        <table class="table table-bordered">
                            <tr>
                                <th style="width: 10px"></th>
                                <th>Board</th>
                                <th>Progresso</th>
                                <th style="width: 20px;text-align: center;">%</th>
                            </tr>
                            <tr ng-repeat="board in vm.boards | orderBy: '-id' " ng-class="board.checked ? 'cor-roxa-fraco' : ''">
                                <td><input type="checkbox" ng-model="board.checked" ng-click="vm.trocarBoardAtivo(board)"/></td>
                                <td>{{board.nome}}</td>
                                <td>
                                    <div class="progress progress-xs">
                                        <div class="progress-bar cor-roxa" style="width: {{board.progresso}}%"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge cor-roxa">{{board.progresso}}%</span>
                                </td>
                            </tr>
                        </table>
                        <button class="btn btn-default cor-roxa" data-toggle="modal" data-target="#boardModal">Adicionar board</button>
                    </div>
                </div>
            </div>
    </section>
    <!-- Add Board -->
    <div class="modal fade" id="boardModal" tabindex="-1" role="dialog" aria-labelledby="boardModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cartaoModal">Adicionar board</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea maxlength="255" class="col-md-12" ng-model="vm.boardAdd"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn cor-roxa" data-dismiss="modal" ng-click="vm.adicionarBoard()">Adicionar</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>